<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368201268776-l5rfkadlagmmnlodlog0jgp3v1b3srck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368201268776-l5rfkadlagmmnlodlog0jgp3v1b3srck</string>
	<key>API_KEY</key>
	<string>AIzaSyD-TLDZKYj82U3Os-5_2KatviDPbhduzNk</string>
	<key>GCM_SENDER_ID</key>
	<string>368201268776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.diary</string>
	<key>PROJECT_ID</key>
	<string>testproject-bfbaf</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-bfbaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368201268776:ios:9be8a417f4da5caf77bf1d</string>
</dict>
</plist>